<ion-header>
</ion-header>

<ion-content>
  <ion-buttons *ngIf="isLogin || isRegister" style="margin-left: 10px; margin-top: 10px;">
    <ion-button (click)="retornaLogin()" fill="clear" >
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-item *ngIf="!isLogin && !isRegister" lines="none" style="margin-top: 10%; height: 70px;">
    <span style="margin: 0 auto; font-size: 30pt; font-weight: 700; height: 50px;">FindBy</span>
  </ion-item>
  <ion-item *ngIf="!isLogin && !isRegister" lines="none">
    <h5 style="margin:0 auto; color: #f5f5f5; font-size: 12pt;">Busque e localize o produto de sua necessidade</h5>
  </ion-item>
  <ion-item *ngIf="isRegister" style="margin: 50% auto 0 auto; width: 80%;"> 
    <ion-label position="floating" color="light">E-mail</ion-label>
    <ion-input [(ngModel)]="usuario" color="light"></ion-input>
  </ion-item>
  <ion-item *ngIf="isRegister" style="margin: 0 auto; width: 80%;"> 
    <ion-label position="floating" color="light">Usuário</ion-label>
    <ion-input [(ngModel)]="email" color="light"></ion-input>
  </ion-item>
  <ion-item *ngIf="isLogin" style="margin: 50% auto 0 auto; width: 80%;"> 
    <ion-label position="floating" color="light">E-mail / Usuário</ion-label>
    <ion-input [(ngModel)]="usuario" color="light"></ion-input>
  </ion-item>
  <ion-item *ngIf="isLogin || isRegister" style="margin: 0 auto; width: 80%;"> 
    <ion-label position="floating" color="light">Senha</ion-label>
    <ion-input [(ngModel)]="senha" type="password" color="light"></ion-input>
  </ion-item>
  <ion-button *ngIf="isLogin" (click)="executeLogin()" class="regis" color="tertiary" expand="block">Entrar</ion-button>
  <ion-button *ngIf="!isLogin && !isRegister" (click)="habilitaLogin()" id="log" color="tertiary" expand="block">Entrar</ion-button>
  <ion-button *ngIf="!isLogin && !isRegister" (click)="habilitaRegister()" id="regis" class="regis" color="light" expand="block">Registrar-se</ion-button>
  <ion-button *ngIf="isRegister" id="regis" class="regis" color="light" expand="block">Registrar-se</ion-button>
</ion-content>
