<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="fav">
      <ion-icon size="large" name="star-sharp"></ion-icon>
      <ion-label style="font-size: 10px;">Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buscar">
      <ion-icon size="large" name="search-sharp"></ion-icon>
      <ion-label style="font-size: 10px;">Buscar</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="notificacao">
      <ion-icon size="large" name="notifications-sharp"></ion-icon>
      <ion-badge style="font-weight: 750; font-size: 9px;" color="danger">2</ion-badge>
      <ion-label style="font-size: 10px;">Notificações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon size="large" name="person-circle-sharp"></ion-icon>
      <ion-label style="font-size: 10px;">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
