<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="padding: 0 auto; height: 100%; text-transform: uppercase; font-size: 14px; font-weight: 700;">Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list style="margin-top: 5px;" lines="full">
    <ion-item style="margin-bottom: 5px" lines="none" *ngFor="let fav of itensFav">
      <ion-avatar slot="start">
        <img src="{{fav.img}}">
      </ion-avatar>
      <ion-label (click)="redirecionaItem(fav.codDestino, fav.itemDesc)">
        <h2 style="margin-bottom: 0;">{{fav.nome}}</h2>
        <p style="font-size: 11px;">{{fav.itemDesc}}</p>
      </ion-label>
      <ion-button (click)="removerFavorito(fav.codItem)" fill="clear" color="warning">
        <ion-icon style="font-size: 25px;" name="star"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
