<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item style="margin: 20% 10px 30px 2%; display: inline-block" lines="none">
    <ion-input class="fontColor" id="nomeUser" click="selectAll($event)" size="large" value="{{usuarioLogado.nome}}" readonly="{{editaNome}}" style="font-size: 20px; width: fit-content;"></ion-input>
    <ion-icon color="tertiary" *ngIf="editaNome" (click)="trocarNome()" name="create"></ion-icon>
    <ion-icon color="tertiary" *ngIf="!editaNome" (click)="efetivaNome()" name="save"></ion-icon>
  </ion-item>
  <ion-list>
    <ion-item style="width: 90%; margin: 0 auto">
      <p style="margin: 0; font-size: 14px;">Deseja utilizar sua localização?</p>
      <ion-toggle [(ngModel)]="isUsaLoc" (click)="atualizaLoc()" color="tertiary"></ion-toggle>
    </ion-item>
    <ul color="tertiary" *ngIf="!isUsaLoc" style="margin-top: 5px; margin-bottom: 70px">
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Endereços</h2>
        <div>
          <ion-item>
            <ion-button (click)="modalEndereco('Adicionar')" style="margin: 0 auto;" color="tertiary" fill="clear">Adicionar Endereço</ion-button>
          </ion-item>
          <ion-radio-group value="rdbEndereco">   
            <ion-item class="ion-no-padding" *ngFor="let end of enderecos">
              <ion-item class="ion-no-padding" style="width: 90%;" lines="none">
                <ion-label style="font-size: 3.7vw">{{end.logradouro}}</ion-label>
                <ion-radio style="margin: 0 15px;" slot="start" color="tertiary" value="{{end.codEndereco}}" mode="ios"></ion-radio>
              </ion-item>
              <ion-icon (click)="modalEndereco('Editar',end)" color="tertiary" style="width: 8%;" name="create"></ion-icon>
            </ion-item>
          </ion-radio-group>
        </div>
      </li>
    </ul>
    <ion-item *ngIf="isUsaLoc">
      <ion-grid>
        <ion-row style="padding: 1px;">
          <ion-col size="12" style="padding: 1px;">
            <p style="text-align: center; margin: 5px 0;">Distância</p>
            <p style="text-align: center; margin: 5px 0;">{{distancia}}km</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="padding: 1px;">
            <ion-list style="padding: 1px;">
              <ion-item lines="none" style="padding: 1px;">
                <ion-range [(ngModel)]="distancia" style="padding: 1px;" min="1" max="100" color="dark">
                  <ion-icon color="tertiary" slot="start" size="small" name="location"></ion-icon>
                  <ion-icon color="tertiary" slot="end" size="large" name="location"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="padding: 0 30px; padding-top: 30px;" lines="none">
      <ion-label class="fontColor">E-mail: </ion-label>
      <ion-input id="emailUser" placeholder="teste@email.com.br" value="{{usuarioLogado.email}}" readonly="{{editaEmail}}"></ion-input>
      <ion-icon color="tertiary" *ngIf="editaEmail" (click)="trocarEmail()" name="create"></ion-icon>
      <ion-icon color="tertiary" *ngIf="!editaEmail" (click)="efetivaEmail()" name="save"></ion-icon>
    </ion-item>
    <ion-item style="padding: 20px 30px;" lines="none">
      <ion-label class="fontColor">Celular: </ion-label>
      <ion-input id="celularUser" placeholder="(11) 11111-1111" value="{{usuarioLogado.numDddCelular}}{{usuarioLogado.telefoneCelular}}" readonly="{{editaCelular}}"></ion-input>
      <ion-icon color="tertiary" *ngIf="editaCelular" (click)="trocarCelular()" name="create"></ion-icon>
      <ion-icon color="tertiary" *ngIf="!editaCelular" (click)="efetivaCelular()" name="save"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button id="reset" color="tertiary" style="padding-right: 5px; padding-top: 15px; position:absolute; left:0;top:0; font-size: 16px;" fill="clear">Resetar Senha</ion-button>
  <ion-button id="logoff" (click)="executeLogoff()" color="danger" style="padding-right: 5px; padding-top: 15px; position:absolute; right:0;top:0; font-size: 16px;" fill="clear">Sair</ion-button>
</ion-content>
